body{
  text-align: center;
}

.addition {
    margin : auto;
    border: 2px solid darkgreen;
    background-color: rgb(42, 171, 57);
    height: 200px;
    width: 500px;
    text-align: center;
    justify-content: center;
    padding-top: 100px;

}

.displayAnswer {
  margin : auto;
  border: 2px solid purple;
  background-color: #d934bb;
  height: 200px;
  width: 500px;
  text-align: center;
  justify-content: center;
  padding-top: 100px;
}